%h1.page-header= @petition.name
%table
  %tr
    %td Name
    %td= @petition.name
  %tr
    %td Path
    %td= link_to @petition.page.path, page_path(@petition.page.id)
  %tr
    %td Created at
    %td= @petition.page.created_at
  %tr
    %td Updated at
    %td= @petition.page.updated_at
  %tr
    %td Total Supporters
    %td= @petition.supporters.count
  %tr

%h4.page-header Supporters
- @petition.supporters.each do |supporter|
  %li #{supporter.email}