%h1.page-header= @petition.name
%table.table
  %tr
    %th Name
    %td= @petition.name
  %tr
    %th Path
    %td= link_to @petition.page.path, page_path(@petition.page.id)
  %tr
    %th Created at
    %td= @petition.page.created_at
  %tr
    %th Updated at
    %td= @petition.page.updated_at
  %tr
    %th Total Supporters
    %td= @petition.supporters.count
  %tr

%h4.page-header Supporters
%ul
  - @petition_supporters.each do |supporter|
    %li= link_to supporter.display_name, supporter
= paginate @petition_supporters