%nav{:class => 'navbar navbar-default navbar-static-top', :role => 'navigation'}
  %a.navbar-brand{:href => '/'} Evolve
  %ul{:class => 'nav navbar-nav'}
    -if can? :index, Page
      %li= link_to 'Pages', pages_path
    -if can? :index, User
      %li= link_to 'Users', users_path
    -if can? :index, Supporter
      %li= link_to 'Supporters', supporters_path
    -if can? :index, Petition
      %li= link_to 'Petitions', petitions_path
    -if can? :index, Event
      %li= link_to 'Events', events_path
  %ul{:class => 'nav navbar-nav navbar-right'}
    - if current_user
      %li= link_to current_user.name, edit_user_registration_path
    %li= link_to 'Logout', destroy_user_session_path