= link_to 'Dashboard', dashboard_index_path
= link_to 'Manage Pages', pages_path
= link_to 'Manage Users', users_path
= link_to 'Manage Files'
= link_to 'Link to Active Site', '/'
= link_to 'Edit Account', edit_user_registration_path
= link_to 'Logout', destroy_user_session_path
