- if flash[:supporter_validation_errors]
  %p.validation The following error#{'s' unless flash[:supporter_validation_errors].size == 1} occurred:
  - flash[:supporter_validation_errors].each do |message|
    %li #{message}
%div.action
  = form_for @supporter do |form|
    = form.label :email, "Email:"
    = form.text_field :email
    = form.hidden_field :supportable_id
    = form.hidden_field :supportable_type
    = form.submit @supportable.submit_text