= form_for page, url: {action: page_method} do |page|
  = page.label :title, 'Title:'
  = page.text_field :title
  %br
  = page.label :path, 'Path:'
  = page.text_field :path
  %br
  = page.label :content, 'Content:'
  = page.cktext_area :content, :ckeditor => {:toolbar=>'Full', :width=>'400px', :height=>'200px'}
  %br
  = page.label :content_type, 'Content Type:'
  = page.text_field :content_type
  %br
  = page.label :description, 'Description:'
  = page.text_field :description
  %br
  = page.label :published, 'Published:'
  = page.check_box :published
  %br
  - if params[:page_type] == 'petition'
    = page.fields_for :petition do |petition|
      = petition.label :name, 'Petition Name:'
      = petition.text_field :name
    %br

  = page.submit
= link_to 'Cancel', pages_path
- if ! page.new_record?
  = button_to "Delete pages", page, :confirm => 'Are you sure?', :method => :delete