%div.btn-group
  %div.btn-group
    %button{:class => 'btn btn-default dropdown-toggle', :type => 'submit', 'data-toggle' => 'dropdown'}New
    %ul.dropdown-menu
      %li
        %a{:href => new_page_path} Page
      %li
        %a{:href => new_page_path(:page_type => :petition)} Petition
      %li
        %a{:href => new_page_path(:page_type => :event)} Event

%h1.page-header Pages
%table#page{:class => "table table-hover"}
  %tr
    %th Type
    %th Title
    %th Path
    %th Created At
    %th Updated At
    %th View Page
    %th Edit Page
  - @pages.each do |page|
    %tr{:id => "page-#{page.id}"}
      %td #{page.type}
      %td #{page.title}
      %td #{page.path}
      %td #{page.created_at}
      %td #{page.updated_at}
      %td= link_to "View #{page.title}", page_path(page.id)
      %td= link_to "Edit #{page.title}", edit_page_path(page.id)
= paginate @pages