!!! 5
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://ogp.me/ns#', 'xml:lang' => 'en', 'lang' => 'en'}
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'application'
    = javascript_include_tag 'admin'
  %body
    = render 'shared/panel'
    %div.container
      = render 'pages/notification'
      = yield