!!! 5
%html{'xmlns' => 'http://www.w3.org/1999/xhtml', 'xmlns:fb' => 'http://www.facebook.com/2008/fbml', 'xmlns:og' => 'http://ogp.me/ns#', 'xml:lang' => 'en', 'lang' => 'en'}
  %head
    %title
      = yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

    = render 'pages/meta'

  %body
    = render 'pages/header'
    %div.container
      = render 'pages/notification'
    %div.container
      #middle
        = yield
    - if @page.is_action?
      %div.container
        = render 'pages/action'
    = render 'pages/footer'
